hdbscan==0.8.28
numpy==1.21.6
umap-learn==0.5.3
numba==0.51.2
scikit-learn==0.22.2
spacy==2.1.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
streamlit==1.11.1
pandas==1.2.4
sentence-transformers==2.2.2
pyabsa==1.16.4
tokenizers==0.12.1
protobuf==3.20.*
